a:link {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}

body {
  color: #ffffff;
	background-color: #000000;
}

h1 {
  color: #ffffff;
}
